:root 
    --globalHeight 750px
    --globalWidth 422px

    --alpha #F0FAFF
    --beta  darken(#F0FAFF,10%)
    --gamma  darken(#F0FAFF,20%)
    --delta  darken(#F0FAFF,30%)
    --epsilon  darken(#F0FAFF,40%)
    --eta  darken(#F0FAFF,50%)
    --zeta  darken(#F0FAFF,60%)
    --theta  darken(#F0FAFF,70%)
    --iota  darken(#F0FAFF,80%)
    --kappa  darken(#F0FAFF,90%)
@media(min-width 860px)
    :root 
        --globalWidth 844px