:root 
    --globalHeight 800px
    --globalWidth 422px

    --alpha #F0FAFF
    --beta  darken(#F0FAFF,10%)
    --gamma  darken(#F0FAFF,20%)
    --delta  darken(#F0FAFF,30%)
    --epsilon  darken(#F0FAFF,40%)
    --eta  darken(#F0FAFF,50%)
    --zeta  darken(#F0FAFF,60%)
    --theta  darken(#F0FAFF,70%)
    --iota  darken(#F0FAFF,80%)
    --kappa  darken(#F0FAFF,90%)

    --alpha-2 #fff0f3
    --beta-2  darken(#fff0f3,10%)
    --gamma-2  darken(#fff0f3,20%)
    --delta-2  darken(#fff0f3,30%)
    --epsilon-2  darken(#fff0f3,40%)
    --eta-2  darken(#fff0f3,50%)
    --zeta-2  darken(#fff0f3,60%)
    --theta-2  darken(#fff0f3,70%)
    --iota-2  darken(#fff0f3,80%)
    --kappa-2  darken(#fff0f3,90%)
    --delta-2  lighten(#eee4e1,70%)

    --alpha-2 #f5efee
    --beta-2  darken(#f5efee,10%)
    --gamma-2  darken(#f5efee,20%)
    --delta-2  darken(#f5efee,30%)
    --epsilon-2  darken(#f5efee,40%)
    --eta-2  darken(#f5efee,50%)
    --zeta-2  darken(#f5efee,60%)
    --theta-2  darken(#f5efee,70%)
    --iota-2  darken(#f5efee,80%)
    --kappa-2  darken(#f5efee,90%)

    --alpha-2 #f5efee
    --beta-2  darken(#f5efee,10%)
    --gamma-2  darken(#f5efee,20%)
    --delta-2  darken(#f5efee,30%)
    --epsilon-2  darken(#f5efee,40%)
    --eta-2  darken(#f5efee,50%)
    --zeta-2  darken(#f5efee,60%)
    --theta-2  darken(#f5efee,70%)
    --iota-2  darken(#f5efee,80%)
    --kappa-2  darken(#f5efee,90%)

    --alpha-2 #f6fff8
    --beta-2  darken(#f6fff8,10%)
    --gamma-2  darken(#f6fff8,20%)
    --delta-2  darken(#f6fff8,30%)
    --epsilon-2  darken(#f6fff8,40%)
    --eta-2  darken(#f6fff8,50%)
    --zeta-2  darken(#f6fff8,60%)
    --theta-2  darken(#f6fff8,70%)
    --iota-2  darken(#f6fff8,80%)
    --kappa-2  darken(#f6fff8,90%)