.paginator-wrap 
    grid-column 1 / 1 
    grid-row 1 / 1
    align-self end
    order 4
    height fit-content
    margin  0 auto 1rem
    width fit-content 
    z-index 2

.paginator 
    display flex 
    align-items center
    justify-content center
    gap 1rem
    button 
        background transparent
        border none
        border-radius 50%
        //color #fff
        display flex
        align-items center
        justify-content center
        height 2rem
        outline none
        //position absolute
        width 2rem
        z-index 400
    .btn-box 
        background  var(--theta) 
        color var(--alpha)
        border-radius 50%
        display grid
        align-items center
        grid-template-columns 1fr
        justify-content center
        grid-template-rows 1fr
        height 2rem
        width 2rem
        span 
            display block
            grid-column 1 / 1
            grid-row 1 / 1
            text-align center
        button 
            grid-column 1 / 1
            grid-row 1 / 1
    .active-btn-box 
        background transparent //red //var(--beta) 
        border 1px solid var(--theta)
        color var(--theta)
