    --alpha-2 #f6fff8
    --beta-2  darken(#f6fff8,10%)
    --gamma-2  darken(#f6fff8,20%)
    --delta-2  darken(#f6fff8,30%)
    --epsilon-2  darken(#f6fff8,40%)
    --eta-2  darken(#f6fff8,50%)
    --zeta-2  darken(#f6fff8,60%)
    --theta-2  darken(#f6fff8,70%)
    --iota-2  darken(#f6fff8,80%)
    --kappa-2  darken(#f6fff8,90%)