extends layouts/main_layout
block append head
    //- style 
    //-     include ../public/css/index.css
        //- include ../public/css/four-col.css
block content
    //- img.main-bg(src='./waterdroplet.jpg') 
    .container
        .paginator-wrap
            include ./_includes/paginator
        include ./_includes/page_sections/section_1
        include ./_includes/page_sections/section_2
        include ./_includes/page_sections/section_3
        include ./_includes/page_sections/section_4
    script 
        include ../js/scripts.js
