section.page.page-3#pages-3
    .side.front#front-3
        button.toggle-side.nav-btn(onclick='show_side("page-3")') &#8250;
        .side-content
            h1 Page 3 front
    .side.back#back-3
        button.toggle-side.nav-btn(onclick='hide_side("page-3")') &#8249;
        .side-content                
            h1 page 3 back  