section.page.page-2#pages-2
    .side.front#front-2
        button.toggle-side.nav-btn(onclick='show_side("page-2")') &#8250;
        .side-content
            h1 Page 2 front
    .side.back#back-2
        button.toggle-side.nav-btn(onclick='hide_side("page-2")') &#8249;
        .side-content
            h1 page 2 back  