
button.burger(onclick='showNav()') 

.navwrap#navwrap 
    button.close-burger(onclick='hideNav()')
    nav 
        ul 
            li
                a(href='/') Home
            li 
                a(href='/about') About
  
    //- script(type='text/javascript', src='/js/scripts.js')
    script 
        include ../../js/scripts.js
    
//- script. 
//-     function toggleNav(){
//-         alert('toggling')
//-         showNav=false
//-         console.log('toggling',)
//-     }
