

//- open nav btn is located on the main_layout
.navwrap#navwrap 
    button.burger.close-burger.nav-btn(onclick='hideNav()')
    nav 
        ul 
            li
                a(href='/') Home
            li 
                a(href='/about') About
    script 
        include ../../js/scripts.js
        
